################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VLogViewer.VC.VC.opendb
/Debug
/ipch/VLOGVIEWER-f514e8c7
/VLogViewer/Debug
/VLogViewer/x64/Debug
/x64/Debug
